<div class="d-flex flex-column justify-content-center align-items-center pt-5">
    <h1 class="">Welcome</h1>
    <h4>Logged in as <%= current_user.email %></h4>
    <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-lg btn-primary rounded-pill" %>
</div>